@import "blurb.css";
@import "contact.css";

main {
  display: flex;
  flex-direction: column;
}

main h1 {
  text-align: center;
  padding: 2rem;
}

#outside {
  text-align: center;
}

@media only screen and (min-width: 1000px) {
  main {
    max-width: 80%;
    margin: 0 auto;
  }
}
