@import "blurb.css";
@import "contact.css";

main {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

main h1 {
  text-align: center;
  padding: 2rem;
}

#outside {
  text-align: center;
}
