#blurb {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
}

#blurb div {
  margin: 0 auto;
  text-align: left;
  padding: 1rem;
}

#blurb figure {
  text-align: center;
}

#blurb img {
  max-width: 100%;
  border-radius: 1rem;
}

#blurb figcaption {
  font-size: 0.75rem;
}

@media only screen and (min-width: 1000px) {
  #blurb {
    flex-direction: row;
    margin: 0 auto;
  }

  #blurb div {
    text-align: left;
  }

  #blurb h2 {
    padding-bottom: 1rem;
  }

  #blurb figure {
    max-width: 50%;
  }
}
