#facts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  padding: 1rem;
  width: 90%;
}

.facts_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 1rem;
  margin: 0 auto;
}

.quick_fact {
  padding: 1rem;
}

#facts img {
  width: 2.5rem;
  height: 2.5rem;
}

.hide1 {
  display: none;
}

@media only screen and (min-width: 1000px) {
  .hide2 {
    display: none;
  }
  .hide1 {
    display: block;
  }
  #facts1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  #facts2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .quick_fact {
    max-width: 20%;
  }

  #facts h3 {
    font-size: 1.5rem;
  }
}
