#hero {
  text-align: center;
}

.hero-container img {
  display: block;
  margin: 0 auto;
  /* This centers the image horizontally */
  max-height: 40rem;
  max-width: 1000px;
  border-radius: 20px;
}
