@import "hero.css";
@import "tabs.css";
@import "facts.css";
@import "vip.css";
@import "reviews.css";
@import "reviews.css";

main {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 90%;
}
