@import "hero.css";
@import "tabs.css";
@import "facts.css";
@import "vip.css";
@import "reviews.css";
@import "reviews.css";

main {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 90%;
}

section {
  padding: 1rem;
}

/*Button CSS and hover states for Home page*/
button {
  width: 50%;
  margin: 0 auto;
  padding: 0.5rem;
  border: none;
  border-radius: 5px;
  color: #796eff;
  font-weight: 550;
  background-color: #796eff40;
}

button:hover {
  font-size: 1.25rem;
  cursor: pointer;
  border: #796eff solid 1.5px;
  padding: 0.2rem;
}

@media only screen and (min-width: 1000px) {
  button {
    margin: 0;
  }
}
