#reviews {
  margin-top: 4rem;
}

.testimonial-container {
  text-align: center;
}

blockquote {
  font-style: italic;
  margin: 2rem 0;
}

.testimonials {
  display: flex;
  justify-content: center;
  gap: 3rem;
  margin-bottom: 1px;
  font-size: 0.75rem;
}

.testimonial {
  text-align: center;
  cursor: pointer;
}

.testimonial img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-bottom: 10px;
  transition: transform 0.6s ease; /* Smooth transition for the transform effect */
  transform: scale(1); /
}
.testimonial img:hover {
  transform: scale(1.2); 
  border: 1px dotted #6a5acd ;
}
.statistics {
  display: flex;
  align-items: center;
  background-color: #6a5acd; /* Adjust the color as needed */
  color: white;
  padding: 10px;
  font-size: 20px;
  width: 75%;
  height: 5rem;
  margin: 3rem auto;
  border-radius: 1rem;
}

.statistics p {
  margin: 0 auto;
}
