@import "header.css";
@import "footer.css";

/*Reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Rootvariables for colours*/
:root {
  --colour-primary: #796eff;
  --colour-primary-tint: #f6f3fc;
  --colour-text-headings: #35414b;
  --colour-text-body: #4e5a65;
  /* For headings and blocks  */
  --colour-background: #fbfafe;
  --colour-background-footer: #1d2830;
}

/*Typography for mobile site*/
html {
  font-size: 16px;
  line-height: 1.5rem;
  font-family: "Inter", "Arial", sans-serif;
  background-color: var(--colour-background);
  color: var(--colour-text-body);
}

h1 {
  font-size: 2rem;
  line-height: 2.5rem;
  font-weight: 600;
}

h2 {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 600;
}

h3 {
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 600;
}

/*Font sizes for desktop*/

@media only screen and (min-width: 1000px) {
  h1 {
    font-size: 4rem;
    line-height: 4.75rem;
  }
  h2 {
    font-size: 2.5rem;
    line-height: 3rem;
  }
  h3 {
    font-size: 1.75rem;
    line-height: 2.25rem;
  }
}

/*Background class for containers with different background colour*/
.background {
  background-color: #f6f3fc;
}
